/** General Purpose **/

strong.highlight {
  background: #ffff00;
}

img.playbutton {
  width: 16px;
  height: 16px;
}

/** Home Page **/

ul.randomalbums {
  margin-left: 0px;
  padding-left: 0;
  font-size: 0.75em;
  padding-bottom: 1em; 
  list-style-type: none;
}

ul.randomalbums li {
  padding-left: 20px;
  background: url(/images/play16.png) no-repeat 0px 0px;
  padding-bottom: 4px;
}


/** Browse#Artists **/

.expandable {
  /*border: 1px dashed #000;*/
}

ul.tracks {
  margin-left: 20px;
  margin-top: 1em;
  padding-left: 0;
  font-size: 0.75em;
  list-style-type: none;
  padding-bottom: 1em; 
}

span.cd-icon {
  position: relative;
  background: url(/images/cd.gif) no-repeat 0px 0px;
  width: 16px;
  height: 16px;
  display: block;
  float: right;
}

span.cd-icon:hover {
  background: url(/images/cd-hover.gif) no-repeat 0px 0px;
}

.artist-name {
  float:left;
  color:#999;
  font-size:0.8em;
  font-weight: bold;
}

#tooltip {
    padding: 3px;
/*
    background: #f9f9f9;
    border: 1px solid #eee;
*/
    background: #003300;
    color:#00ff00;
    text-align: center;
    font-size: 1.2em;
}

.alternating0 {
  clear: right;
  background: #f3f3f3;
}

.alternating1 {
  clear: right;
}


/*
span.cd-icon span {
  display: none;
  position: absolute;
  top: 20px;
  left: -10px;
  width: 125px;
  padding: 5px;
  z-index: 100;
  background: #000;
  color: #fff;
  -moz-border-radius: 5px; 
  -webkit-border-radius: 5px; 
}


span.cd-icon:hover span {
  display: block;
}
*/


/** Ajax Throbber **/

#ajax_throbber {
    padding: 20px 20px 20px 20px;
    background: #fff;
    border: 3px solid #aaa;
    position: absolute;
	  /*margin-left: 286px;*/
    left: 30%;
    top: 40%;
    vertical-align: middle;
}

/*----------------------------------*/
/* Errors */
/*----------------------------------*/
.fieldWithErrors        { padding: 2px; background-color: red; display: table; }
#errorExplanation       { width: 400px; border: 2px solid red; padding: 7px; padding-bottom: 12px; margin-bottom: 20px; background-color: #f0f0f0; }
#errorExplanation h2    { text-align: left; font-weight: bold; padding: 5px 5px 5px 15px; font-size: 12px; margin: -7px; background-color: #c00; color: #fff; }
#errorExplanation p     { color: #333; margin-bottom: 0; padding: 5px; }
#errorExplanation ul li { font-size: 12px; list-style: square; }
/*----------------------------------*/

/*----------------------------------*/
/* Notices */
/*----------------------------------*/
#notice {
  color: #00ff00;
  margin: 1em 0 0 30%;
  padding: 1em 1em 1em 1em;
  display: table;
  border: 2px solid #007700;
  background-color: #003300;
}
/*----------------------------------*/
