
#content

  %center
    %h2 Commands

    %ul
      %li= link_to "Rescan", :controller=>"admin/commands", :action=>"rescan"


#right
  #randomalbums
    = render :partial => "layouts/random_albums" 

