#EXTM3U
<% for track in @tracks -%>
#EXTINF:<%= track.length %>,<%= "#{track.artist.name} - #{track.album.name} - #{"%0.2d" % track.number}. #{track.title}" %>
http://<%= request.host_with_port %><%= url_for :action=>"track", :id=>track.id %>.mp3
<% end -%>
