
#content
  %h1 Browse (grouped by Artist)

  #browser{ :style => "font-family: Tahoma" }

    - @artists.each_with_index do |artist,i|
      %div{:class=>"alternating#{i%2}"}
        - for album in artist.albums
          %span.cd-icon{:onmouseover=>"tooltip('#{album.name && album.name.escape_single_quotes}');", :onmouseout=>"exit();"}
            //%span= album.name
              
        %p.subtitle
          = link_to image_tag("play16.png", :class=>"playbutton"), :controller=>"stream", :action=>"artist", :id=>artist.id
          %span
            = link_to_remote artist.name, :url => { :action => 'expand_artist', :id => artist.id }

        %div{ :id=>artist.html_id, :class=>"expandable" }
      

#right
  %h3 Help?
  %p.help
    %p All the artists! Sweet!

    %p Click the titles to expand the artist and show their albums.
  
    %p You can tell how many albums each artist has by counting the <img src="/images/cd.gif">'s.

    %p <img src="/images/play16.png"> will play everything from that artist or album.

