
#content

  %center
    - elf = random_elf
    %h1= "#{elf.name} MP3 Streaming System"
    %a{ :href=>"" }
      %img{:src=>elf.url}


#right
  #randomalbums
    = render :partial => "layouts/random_albums" 

