%h1 EZ Elf Pro v10.eleven

%h3 Things you can do (some can't be done):

%ul
  %li= link_to "Browse Artists", :controller=>"browse", :action=>"artists"
  %li= link_to "Browse Files", :controller=>"browse", :action=>"files"
  %li
    Shuffle: [
    - links = [50, 100, 400].map{|n| link_to "#{n} songs", :controller=>"stream", :action=>"shuffle", :id=>n }
    = links.join ' | '
    ]
  %li Browse Albums
  %li Listening History / Stats
