
#content

  - if not logged_in?
    %h1 You're not logged in.
    
  - elsif not current_user.activated?

    %h1 Email Validation not complete.
    %p
      You still have to do the email validation thing.
    %p
      If you entered the wrong email, I guess you'd better
      = link_to "fix that!", :action=>"modify"

  - elsif current_user.activated?

    - if current_user.disabled?
      %h1 Account Awaiting Review
      %p You've successfully created and activated your account. However, we don't let just anyone in. The administrator still has to review your account and enable it. So, hold on tight!
      %p You'll get an email once your account has been enabled.
      
    - else
      %h1 You've been validated!
      %p
        What're you still doing here?
        = link_to "Go play!", "/"

