
%p.disclaim
  %strong
    If it ain't the ELF...
    %br
    it must be something else!

%p.credit
  &copy; 2002-2007 Mr. Happy Software.
  %br
  <a href="http://beast.caboo.se">Beast</a> theme stolen from Rick Olson.

%br{:style=>"clear: both;"}

