
%p.disclaim
  %strong
    If it ain't the ELF...
    %br
    it must be something else!

%p.credit
  &copy; 2002-2007 Mr. Happy Software.
  %br
  = link_to "Beast", "http://beast.caboo.se"
  theme stolen from
  = link_to "Josh Goebel", "http://www.workingwithrails.com/person/5337-josh-goebel"

%br{:style=>"clear: both;"}

